<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>059C7DE3-D813-487B-9203-42E1B0683513</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E18687F9-95DD-4A79-8DF4-3592C9C6286B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>802D5FBC-D566-4EAB-849F-AC9AABD6AE6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>079ED46E-DDD0-44C2-8089-4F3EBEFF6707</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33383FFA-0734-4D1B-8544-AF2BE673B5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>197D094B-47AC-495F-9397-41F710D42765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>079ED46E-DDD0-44C2-8089-4F3EBEFF6707</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30DCD902-1467-4CE2-A924-898D840D50E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>728B5A4C-49FB-4657-8E62-EF5B81E0ACCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE2FF55E-67CB-4A10-A78C-EB23A388A78D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4456E2CA-9DE9-47D4-9ACD-A2D9A46CCBD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8677B646-2120-426B-AAA4-F0AAFAEF43EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33383FFA-0734-4D1B-8544-AF2BE673B5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE2FF55E-67CB-4A10-A78C-EB23A388A78D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33383FFA-0734-4D1B-8544-AF2BE673B5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE8B0F21-A389-4316-8E23-D5647A36D2B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8677B646-2120-426B-AAA4-F0AAFAEF43EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68AA05EF-54ED-4E8B-A7E8-A024BEF9CD03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E18687F9-95DD-4A79-8DF4-3592C9C6286B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33383FFA-0734-4D1B-8544-AF2BE673B5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Beattie</string>
	<key>description</key>
	<string>Switch audio inputs/outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audio Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/switchaudiosource -s "External Headphones"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8677B646-2120-426B-AAA4-F0AAFAEF43EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ash</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch audio output to headphones</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE8B0F21-A389-4316-8E23-D5647A36D2B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Audio output switched to headphones</string>
				<key>title</key>
				<string>Audio Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>68AA05EF-54ED-4E8B-A7E8-A024BEF9CD03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/switchaudiosource -s "MacBook Pro Speakers"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E18687F9-95DD-4A79-8DF4-3592C9C6286B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>asp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch audio output to speakers</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>059C7DE3-D813-487B-9203-42E1B0683513</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Audio output switched to speakers</string>
				<key>title</key>
				<string>Audio Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>802D5FBC-D566-4EAB-849F-AC9AABD6AE6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Funk</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>33383FFA-0734-4D1B-8544-AF2BE673B5E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/switchaudiosource -s "DELL U2720Q"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE2FF55E-67CB-4A10-A78C-EB23A388A78D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>asm</string>
				<key>subtext</key>
				<string>WARNING: loud, no system volume contorl</string>
				<key>text</key>
				<string>Switch audio output to monitor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>728B5A4C-49FB-4657-8E62-EF5B81E0ACCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Audio output switched to monitor</string>
				<key>title</key>
				<string>Audio Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4456E2CA-9DE9-47D4-9ACD-A2D9A46CCBD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/switchaudiosource -s "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>079ED46E-DDD0-44C2-8089-4F3EBEFF6707</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>asel</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "json"

devices = `/usr/local/bin/switchaudiosource -a`.split(/\n/).map {|device_name| { title: device_name, subtitle: device_name, arg: device_name, autocomplete: device_name, match: device_name }}

json = { items: devices }.to_json

print json
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select audio source</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>197D094B-47AC-495F-9397-41F710D42765</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30DCD902-1467-4CE2-A924-898D840D50E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>059C7DE3-D813-487B-9203-42E1B0683513</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>079ED46E-DDD0-44C2-8089-4F3EBEFF6707</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>197D094B-47AC-495F-9397-41F710D42765</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>30DCD902-1467-4CE2-A924-898D840D50E3</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>33383FFA-0734-4D1B-8544-AF2BE673B5E8</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>4456E2CA-9DE9-47D4-9ACD-A2D9A46CCBD9</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>68AA05EF-54ED-4E8B-A7E8-A024BEF9CD03</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>728B5A4C-49FB-4657-8E62-EF5B81E0ACCA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>802D5FBC-D566-4EAB-849F-AC9AABD6AE6F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>8677B646-2120-426B-AAA4-F0AAFAEF43EE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>AE2FF55E-67CB-4A10-A78C-EB23A388A78D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>AE8B0F21-A389-4316-8E23-D5647A36D2B2</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E18687F9-95DD-4A79-8DF4-3592C9C6286B</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>Credit to https://agileadam.com/2020/05/switch-audio-input-output-device-using-alfred/</string>
</dict>
</plist>
